
{% extends "base.html" %}
{% block content %}
<div class="border-top">
  </a>
</div>
<div class="container" style="text-align: center; color: gray;">
  <div class="row">
    <h4>{{ date }}</h4>
  </div>
</div>
<legend style="text-align: center; color: gray";>{{ legend }}</legend>

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.note.label(class="form-control-label") }}
                {% if form.note.errors %}
                    {{ form.note(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.note.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.note(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            <a class="btn" href="{{ url_for('notes') }}">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="gray" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                  <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </a>
            {{ form.submit(class="btn btn-link",style="color: gray") }}
        </div>
    </form>
</div>
{% endblock content %}
